<h1 class="title-page">Minhas Listas</h1>

<%= link_to 'Criar Lista', new_list_path, class: "btn btn-primary create-btn" %>

<div class="cards-container">
  <% @lists.each do |list| %>
    <%= render 'lists/card', list: list %>
  <% end %>
</div>
